@tailwind base;
@tailwind components;
@tailwind utilities;

.instaText{
    background: linear-gradient(
    90deg,
    #ff3c00 0%,
    #ff0066 50%,
    #ff2db2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input::placeholder{
  font-weight:500;
}
input[type="password"]{
  padding-right: 12px; /* control manually */
  padding-bottom: 7px;
}
input[type="date"] {
  padding-right: 12px;
  padding-bottom: 3px;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.scrollbar-hide {
  scrollbar-width: none;
}
